.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('../public/gakori.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20vh;
}
